<!-- <p>istart works!</p> -->
<header class="container-fluid nopadding nomargin">
    <!-- header  -->
    
    <div class="row">
        <div class="col-12">
            <img src="../../../assets/img/placeholder.jpg" alt="test" class="img-fluid">
            <div class="carousel-caption">
                <h4 class="caption">Macbell istart designed to help founder make easy to start entrepreneurial journey with unique startup tool kit , expert guidelines and true compassion . We built platform to support you throughout your entrepreneurial journey from start , grow to raise funding .</h4>
                <button type="button" class="btn btn-danger">iStart Pricing</button>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 50px;">
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card " style="text-align: center; padding: 50px 0px 20px 0px;">
                    <div class="card-body">
                        <h4>We are here to make your entrepreneurial journey enjoyable -</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card " style="text-align: center; padding: 50px 0px 20px 0px;">
                    <div class="card-body">
                        <h4>Focus on your innovation we will take care of rest -</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card " style="text-align: center; padding: 50px 0px 20px 0px;">
                    <div class="card-body">
                        <h4>A trusted partner always with you -</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card " style="text-align: center; padding: 50px 0px 20px 0px;">
                    <div class="card-body">
                        <h4>One stop startup solution -</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid nopadding nomargin">
        <div class="row ">
            <div class="col-md-6">
                <img class="image2 " src="../../../assets/img/placeholder.jpg" alt="">
                <div class="carousel-caption">
                    <h5>Startup - Idea</h5>
                    <h2>Contest</h2>
                    <h6 style="color:orange">2019-2020</h6>
                    <p>Opportunity to connect with Investor , mentor , advisor other entrepreneurs. Every participant get unique tools i.e. helpful to build and grow startup.</p>
                    <a href="#" class="badge badge-success" style="height:20px">Cash prize Up to 5,00,000 INR</a>
                    <p style="color: orange;">why Live with Idea ! Live your startup now</p>
                </div>    
            </div>
            <div class="col-md-6">
                <img class="image2" src="../../../assets/img/placeholder.jpg" alt="">
                <div class="carousel-caption">
                    <h5>Shift your perspective on digital business</h5>
                    <p>startup event: startup idea contet 2019 is organised by macbell to give opportunity for innovative entrepreneurs to transform idea into investor friendly startup. To join startup idea contest you become a member of macbell.in .</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fuid ">
        <div class="row">
            <div class="col-12">
                <img src="../../../assets/img/placeholder.jpg" alt="" class="image2">
                <div class="carousel-caption" >
                    <p>WHO HELP US</p>
                    <h2>Our Partners</h2>  
                </div>
            </div>

        </div>
    </div>

    <div class="container fluid ">
        <div class="row" style="padding : 20px">
            <div class="col-md-6">
                <br>
                <h6>REACH US</h6>
                <h2>Contact Us</h2><br><br>
                <p>
                    <i class="fas fa-home mr-3"></i>macbell infotech pvt ltd & 51/a, sharda nagar,
                    ayodhya bypass road,bhopal (mp)</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>+91 9111897177</p>
                  <p>
                    <i class="fas fa-envelope mr-3"></i>info@macbell.in</p>
                  
                  
            </div>

            <div class="col-md-6">
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                      style="border:0" allowfullscreen></iframe>
                </div>
            
            </div>
        </div>
    </div>
    <footer class="col-12">
        <div class="container-fluid">
            <div class="text-center center-block" >
                    <a href="#" style="color: aliceblue;padding-right: 10px;"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                    <a href="#" style="color: aliceblue;padding-right: 10px;"><i class="fa fa-twitter-square fa-3x" aria-hidden="true "></i></a>
                    <a href="#" style="color: aliceblue;padding-right: 10px;"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                    <a href="#" style="color: aliceblue;"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
                    
            </div>
        </div>
    </footer>

</header>
