/* You can add global styles to this file, and also import other style files */
.nomargin{
    margin: 0!important;
} 
.nopadding{
    padding: 0!important;
}

@media only screen and (max-width:560px){
    footer{
        visibility: hidden;
    }

    
}